<%= stylesheet_link_tag 'home.css' %>
<body class="m-2">
<div id="<%= dom_id product %>" class="border border-secondary">
  <div class="m-2">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>
  </div>
</div>
</body>


